<header class="topo">

    <!-- LOGO -->
    <div class="logo-box">
        <a href="#">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" />
        </a>
    </div>

    <!-- BANNER -->
    <div class="banner">
        <img src="{{ url_for('static', filename='img/banner.jpg') }}" alt="Banner">
    </div>

    <!-- NAVIGATION BAR -->
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="#" class="nav-link">Início</a></li>
            <li><a href="#" class="nav-link">Anúncios</a></li>
            <li><a href="#" class="nav-link">Estatísticas</a></li>
            <li><a href="#" class="nav-link">Definições</a></li>
            <li><a href="{{ url_for('logout') }}" class="nav-link logout">Sair</a></li>
        </ul>
    </nav>

</header>
